@model Projekat_2.Models.SearchProducts

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<form asp-action="SearchAct">
    <div>
        Category:
        <select asp-for="selectedCategoryId" asp-items="Model.categories"></select>
    </div>
    <div>
        Supplier:
        <select asp-for="selectedSupplierId" asp-items="Model.suppliers"></select>
    </div>
    <br/>
    <button type="submit">Pretrazi</button>
</form>

<partial name="ProductsTable" model="Model.products"  />